# Energy Statistics

Simple notebook to extract general stats about the energy production and consumption.

In [1]:
import aioinflux
import os

In [2]:
kwargs = {
    'host': '192.168.178.47',
    'port': os.getenv('INFLUXDB_PORT'),
    'username': os.getenv('INFLUXDB_USER'),
    'password': os.getenv('INFLUXDB_PASS'),
    'db': os.getenv('INFLUXDB_DB'),
    'output': 'dataframe'
}

In [3]:
measurement = 'electricity_energy_watthour'
async with aioinflux.InfluxDBClient(**kwargs) as ifclient:
    df_energy = await ifclient.query(f"""
        SELECT * FROM {measurement}
    """)

In [4]:
(df_energy).groupby(df_energy.index.date).sum().quantile(q=[0.1, 0.25, 0.5, 0.75, 0.9])

      Consumption   FeedIn  Production  Purchased  SelfConsumption
0.10       4762.2     70.0       931.0     2421.8            752.0
0.25       5756.0   1225.5      2729.0     3062.0           1312.0
0.50       6863.0   5256.0      7779.0     4086.0           2332.0
0.75       8097.0  12004.0     15824.0     5620.5           3518.0
0.90       9488.0  16010.2     19868.0     7758.8           4587.2

In [5]:
measurement = 'electricity_power_watt'
async with aioinflux.InfluxDBClient(**kwargs) as ifclient:
    df_power = await ifclient.query(f"""
        SELECT * FROM {measurement}
    """)

In [6]:
(df_power).groupby(df_power.index.date).max().quantile(q=[0.1, 0.25, 0.5, 0.75, 0.9])

      Consumption       FeedIn   Production    Purchased  SelfConsumption
0.10   802.445632    98.579638   284.564132   401.502608       194.218468
0.25  1585.898750   775.028850  1032.462850   941.190350       259.683170
0.50  2025.742400  1767.864900  2009.717700  1521.268200       666.361900
0.75  2687.485800  2360.599050  2571.358300  2250.489250      1341.771700
0.90  3497.693980  2371.343380  2765.781340  2957.031420      1877.496280